<!-- Login Page -->
<div id="div1">
    <span class="oj-label">Sign In</span>
    <form id="loginForm" method="get">

        <label for="text-user">Username:</label>
        <input id="text-user" type="text" data-bind="ojComponent: {component: 'ojInputText', value: user, required:true}" />

        <label for="text-password">Password:</label>
        <input id="text-password" type="password" data-bind="ojComponent: {component: 'ojInputPassword', value: password, required:true}" />

        <br/><br/>
        <input type=submit>
    </form>
</div>